<header id="header" class="header-vertical dark">
  <div class="logo">
    <h1>{{ me.name }}</h1>
    <h4>{{ me.description }}</h4>
  </div>
  <nav id="main-menu">
    <ul class="nav nav-vertical">
      <li><a href="index.html#start"><em class="fas fa-home"></em><span> Start</span></a></li>
      <li><a href="index.html#resume"><em class="fas fa-file-alt"></em><span> Resume</span></a></li>
      <li><a href="index.html#projects"><em class="fas fa-code"></em><span> Projects</span></a></li>
    </ul>
    <span class="selector"></span>
  </nav>
  <div class="bottom text-center">
    <ul class="nav-icons nav-sm">
      <li><a href="https://www.linkedin.com/in/cristtopher"><em class="fab fa-linkedin fa-2x"></em></a></li>
      <li><a href="https://www.instagram.com/cristtopher"><em class="fab fa-instagram fa-2x"></em></a></li>
      <li><a href="https://github.com/cristtopher"><em class="fab fa-github fa-2x"></em></a></li>
      <li><a href="https://gitlab.com/cristtopher"><em class="fab fa-gitlab fa-2x"></em></a></li>
    </ul>
  </div>
</header>
