<section id="projects" class="section cover bg-black">
  <!-- Filter Bar -->
  <nav class="filter-bar bg-primary dark">
    <div class="tabs-wrapper">
      <ul class="filter nav nav-tabs" data-filter-list="#works-list">
        <li class="active"><a href="index-vertical-dark-no-photo.html#" data-filter="*">All</a></li>
        <li><a href="index-vertical-dark-no-photo.html#" data-filter=".webPlatforms">Web Platforms</a></li>
        <li><a href="index-vertical-dark-no-photo.html#" data-filter=".mobileApps">Mobile Apps</a></li>
        <li><a href="index-vertical-dark-no-photo.html#" data-filter=".apps">Apps</a></li>
      </ul>
      <span class="selector"></span>
    </div>
  </nav>

  <!-- Works List -->
  <div id="works-list" class="filter-list row masonry no-spaces">
    <div class="masonry-sizer col-md-4 col-sm-6 col-xs-12"></div>
    <div [ngClass]="[project.type, 'masonry-item', 'col-md-4', 'col-sm-6', 'col-xs-12']"
      *ngFor="let project of projects">
      <div class="image-box">
        <div class="image">
          <a href="" data-toggle="ajax-modal">
            <img *ngIf="project.imageType === 'base64'" [src]="'data:image/jpg;base64,' + project.image" alt="">
            <img *ngIf="project.imageType !== 'base64'"
              [src]="'assets/img/projects/' + project.image + '.' + project.imageType" alt="">
          </a>
        </div>
        <div class="hover">
          <h4 class="mb-0">{{ project.title }}</h4>
          <span class="text-muted">{{ project.description }}</span>
          <br>
          <em *ngFor="let icon of project.icons" [ngClass]="[icon, 'fa-2x', 'mr-10']"></em>
        </div>
      </div>
    </div>
  </div>
</section>
