<section id="start" class="section fullheight dark bg-dark">
  <div class="bg-video"
    data-property="{videoURL:'https://www.youtube.com/watch?v=4GC0jGODGeY',showControls: false,containment:'self',startAt:50,stopAt:50,mute:true,autoPlay:true,loop:true,opacity:.2}">
  </div>
  <div class="container container-custom v-center" data-local-scroll>
    <h1 class="text-lg mb-0"><em>Hi! I’m</em> {{ me.name }}</h1>
    <p class="tags lead text-muted">{{ me.description }}</p>
    <a href="index.html#resume" class="btn btn-primary btn-lg">Check my Resume</a><a href="index.html#projects"
      class="btn btn-link btn-lg">My Works</a>
  </div>
</section>
