<section id="resume" class="section">
  <div class="container container-custom">
    <p class="lead text-muted mb-80">Father of 2 beautiful children. Passionate about the development of
      high impact solutions, curious about these new technologies, one day he wants to be an excellent
      leader, obsessive with planning and documentation. Always try to give the best of himself, and try
      to learn something new every day.</p>
    <div class="row masonry long-spaces">
      <div class="masonry-sizer col-sm-6 col-xs-12"></div>
      <app-specialities></app-specialities>
      <app-skills></app-skills>
      <app-languages></app-languages>
      <app-jobs></app-jobs>
      <app-education></app-education>
      <app-hobbies></app-hobbies>
      <div class="masonry-item col-sm-6 col-xs-12">
        <a href="https://github.com/cristtopher/cristtopher.github.io/raw/master/assets/documents/cv-esp-2019.pdf"
          class="btn btn-primary btn-lg">Download
          Resume</a>
      </div>
    </div>
  </div>
</section>
